<div class="content">
  <h3 class="title"><a class="title" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title }}</a></h3>

  <p class="excerpt">{{post.lead_text | strip_html | strip_newlines | truncate: 50 }}</p>

  {% if post.project_link != empty %}
  <a href="{{ post.project_link }}" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-{{post.button_icon}} fa-lg"></i>{{post.button_text}}</button></a>
  {% endif %}

  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}


  <div class="post-content visible">
    {% if page.subtitle %}
    <h2 class="post-subtitle">{{ page.subtitle }}</h2>
    {% endif %}

    <article class="markdown-body">
      {{ page.content }}
    </article>

    {% if site.social-share %}
    <div class="social-share-wrapper">
      <div class="social-share"></div>
    </div>
    {% endif %}
  </div>

  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->

  <div class="categories"><span>{{ post.date | date: '%Y, %b %d' }}</span></div>
</div>
